<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="assets/img/bitagora-name-white.png" alt="Bitagora" style="margin-bottom: 10px"/>     

        <img src="assets/img/bitagora-logo-white.png" alt=""  style="max-height: 220px; margin: 10px 10% !important;" />
        <p style="text-align: center">"Our vote is our weapon" - Martin Luther King</p>
       
        <h4 style="color: #fff !important; margin-top: 10px">Bitagora is a blockchain application that allows you to organize and vote in decentralized democratic elections</h4>
	
	<p>Contact:<br>
	<a href="mailto:mail@bitagora.cc" style="color: #fff !important" target="_blank">mail@bitagora.cc</a>
	</p>
	<p>Donate:<br> 
	<a href="bitcoin:1MK5EhdjPo9PiPLnf4XCwpNkdNr2x2exaC" style="color: #fff !important" target="_blank">1BiTaGNwLVNRZrweD1bXkvuDr43xAafrAy</a>
	</p>
      </header>
      
      <section>

      {{ content }}

      </section>
      
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
